In [47]:
# file : ds02_syntax.ipynb
# desc : 파이썬 기초 복습

## 자료구조와 알고리즘

- 파이썬 기초문법 복습

### 1. 리스트 컨프리헨션(함축)

In [48]:
nums = []
for i in range(1,6) : # 1,2,3,4,5 # for 반복문으로 
   nums.append(i) 

nums

[1, 2, 3, 4, 5]

In [49]:
nums = list(range(1,6)) # 클래스로 생성
nums

[1, 2, 3, 4, 5]

In [50]:
nums = [i for i in range(1,6)] # 리스트 함축으로
nums

[1, 2, 3, 4, 5]

In [51]:
nums = [i * i for i in range(1,6)]
nums

[1, 4, 9, 16, 25]

In [52]:
nums = [] 
for i in range(1,6) :
    nums.append(i * i)

nums

[1, 4, 9, 16, 25]

In [53]:
nums = []
nums = [i for i in range(1,21) if i % 3 == 0] # 3의 배수만 리스트 
nums

[3, 6, 9, 12, 15, 18]

In [54]:
# 2차원 리스트 
nums2 = [[i for i in range(4)] for j in range(3)] # [[대괄호 안쪽 = 열] = 행] 즉, 3행 4열 
nums2

[[0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3]]

### 세트

In [55]:
myset = {1, 2, 3, 3, 2, 1} 
myset

# 집합은 같은 수(값)는 중복 제거

{1, 2, 3}

### 로또번호 생성기

In [56]:
import random

In [57]:
# 전역변수 선언
totalLotto = [] # 최종 로또번호 저장 - 2차원 리스트
lotto = [] #한 회별 로또번호 저장 - 1차원 리스트
pickNum = 0 
count = 0

In [58]:
print('로또 번호 생성을 시작합니다.')
totalLotto = [] # 로또 결과 리스트 초기화
count = int(input('뽑을 횟수 입력 >'))

for _ in range(count) : # _(i위치) 반복되는 숫자를 사용하지 않겠다는 의미
        lotto = [] 
        while True : 
            pickNum = random.randint(1, 45) # 1 ~ 45 사이 수를 저장 
            if pickNum not in lotto : # 랜덤으로 뽑은 수가 있으면 패스 
                lotto.append(pickNum)
            else : 
                continue # 반복문이 여러개 있으면 자신이 속한 반복문만 다시 반복 

            if len(lotto) >= 6: # 숫자를 6개 뽑았으면    
                    break # 반목문이 여러개 있으면 자신이 속한 반복문만 빠져나감
        totalLotto.append(lotto)

로또 번호 생성을 시작합니다.

In [60]:
for item in totalLotto :
    item.sort()
    print('자동번호 --> ', end =' ')
    for i in item : 
        print(f'{i:02d}', end =' ')

    print()

자동번호 -->  09 17 21 24 33 41
자동번호 -->  02 09 13 32 38 45
자동번호 -->  11 12 22 32 37 38
자동번호 -->  06 18 25 28 34 45
자동번호 -->  04 13 14 27 36 45